<table id="users">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th> 
        <th> </th> 
      </tr>
<tr *ngFor="let user of users; let i = index">
    <td>{{i}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td> 
    <td>
        <button class="Modify" (click)="wantModify(user)" mat-raised-button color="primary">Modify</button>
        <button class="delete" (click)="deleteUser(user)" mat-raised-button color="warn">Delete</button>
    </td> 
</tr>
</table>


<app-add-user (addUser)="addUser($event)"></app-add-user>
