
<div class="row">
    {{user.name}}
    {{user.email}}   
        <button class="Modify" (click)="wantModify(user)" mat-raised-button color="primary">Modify</button>
        <button class="delete" (click)="onDelete(user)" mat-raised-button color="warn">Delete</button>
    </div>
        <!-- <form [ngClass]="setClasses()" (ngSubmit)="onSubmit()" >
            <input type="text" name="name" [(ngModel)]="name" placeholder="Name">
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email">
            <input type="submit" value="Modify User Values" class="btn">
        </form> -->
       

<!-- <button (click)="onModify(user)">Modify</button> -->
<!-- 
 -->

