

    <th>{{user.name}}</th>
    <th>{{user.email}} 
        <button class="delete" (click)="onDelete(user)">x</button>
        <button class="Modify" (click)="wantModify(user)">Modify</button>
        <form [ngClass]="setClasses()" (ngSubmit)="onSubmit()" >
            <input type="text" name="name" [(ngModel)]="name" placeholder="Name">
            <input type="text" name="email" [(ngModel)]="email" placeholder="Email">
            <input type="submit" value="Modify User Values" class="btn">
        </form>
        </th> 

<!-- <button (click)="onModify(user)">Modify</button> -->
<!-- 
 -->

